Repository saiichihashimoto/sanity-typed, pull requests merged in 2023-06, with the labels that each got.

#44 tests to ensure nested objects are fine
  packages/types/src/index.test.ts
Labels: automerge, types

#45 condensing some types
  packages/types/src/index.ts
Labels: automerge, types

#46 fix(packages): adding homepages
  packages/schema-builder/package.json
  packages/types/package.json
Labels: automerge, schema-builder, types

#47 feat(required): detecting required in fields' validation
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#48 remove unnecessary comments
  packages/types/src/index.ts
Labels: automerge, types

#49 dont build on lint
  package.json
Labels: automerge

#51 fix(docs): documentation for types and library intentions
  packages/schema-builder/README.md
  packages/schema-builder/package.json
  packages/types/README.md
  packages/types/package.json
Labels: automerge, schema-builder, types

#53 fix(package): more package.json links
  package.json
  packages/schema-builder/package.json
  packages/types/package.json
Labels: automerge, schema-builder, types

#43 Renaming ref as namedType and then deprecating ref
  packages/schema-builder/README.md
  packages/schema-builder/src/array/index.test.ts
  packages/schema-builder/src/objectNamed/index.test.ts
  packages/schema-builder/src/objectNamed/index.ts
Labels: automerge, schema-builder

#54 fix(docs): removing some extra words
  packages/types/README.md
  packages/types/package.json
Labels: automerge, types

#56 set colors for github labels
  .github/settings.yml
Labels: automerge, schema-builder, types

#57 minimal documentation for monorepo root
  .github/settings.yml
  README.md
  package.json
Labels: automerge

#59 fix(docs): use defineConfig over createSchema in docs
  packages/schema-builder/README.md
  packages/types/README.md
Labels: automerge, schema-builder, types

#61 fix(required): declare symbol instead of actually instantiating it
  packages/types/src/index.ts
Labels: automerge, types

#64 more consistent generic ordering
  package-lock.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#65 fix(rule): use the definitions native rules
  packages/types/src/index.ts
Labels: automerge, types

#66 Aliased Types infer unknown
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#67 feat(types): infer types from sanity configs
  package-lock.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#71 fix(object): inferring objects from config works
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#72 fix(object): inferring objects from config works
  packages/types/src/index.ts
Labels: automerge, types

#74 Infer _type for object and aliased types
  packages/test-utils/src/index.ts
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#75 array definition requires member type, not array of members
  packages/types/src/index.ts
Labels: automerge, types

#76 fix(deps): update package-lock
  package-lock.json
Labels: automerge, schema-builder

#80 derive types from plugins!
  packages/types/README.md
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#83 toStrictEqual works with `any` on either side
  packages/test-utils/src/index.test.ts
  packages/test-utils/src/index.ts
Labels: automerge

#84 toBeAssignableTo is more accurate
  packages/test-utils/src/index.test.ts
  packages/test-utils/src/index.ts
Labels: automerge

#85 test against void
  packages/test-utils/src/index.test.ts
Labels: automerge

#86 fix(docs): adding license to everything
  packages/schema-builder/LICENSE
  packages/test-utils/LICENSE
  packages/tsconfig/LICENSE
  packages/types/LICENSE
Labels: automerge, schema-builder, types

#87 Funding
  README.md
  package-lock.json
  package.json
  packages/schema-builder/README.md
  packages/schema-builder/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  packages/types/README.md
  packages/types/package.json
Labels: automerge, schema-builder, types

#88 funding.yml
  .github/FUNDING.yml
Labels: automerge

#89 toStrictEqual returns a diff
  package-lock.json
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: automerge

#91 definePlugin tests
  packages/test-utils/src/index.ts
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#103 fix(objects): objects in defineType derive with _type
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#104 small changes
  packages/types/src/index.test.ts
  packages/types/src/index.ts
Labels: automerge, types

#105 fix(schema-builder): deprecating schema-builder
  README.md
  packages/schema-builder/README.md
  packages/schema-builder/package.json
  packages/types/README.md
Labels: automerge, schema-builder

#106 fix(docs): fixing schema-builder docs
  README.md
  packages/schema-builder/package.json
  packages/types/README.md
Labels: automerge, schema-builder
